<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Practice</title>
  <link rel="stylesheet" href="../stylez/stylez.css">
</head>

<body>
    <form action="index.html" method="post">
        First Name: <br> <input type="text" placeholder="First Name" value=""><br><br>
        Last Name: <br> <input type="text" placeholder="Last Name" value=""><br><br>
        Email: <br> <input type="email" placeholder="Email" value=""><br><br>
        Age: <input type="text" size="3" placeholder="age"><br><br>
        Sex: <select>
          <option value=""></option>
          <option value="male">Male</option>

          <option value="female">Female</option>
            </select><br><br>

            State:<br><select>
              <option></option>
              <option value="alabama">Alabama</option>
              <option value="alaska">Alaska</option>
              <option value="arizona">Arizona</option>
              <option value="arkansas">Arkansas</option>
              <option value="california">California</option>
              <option value="colorado">Colorado</option>
              <option value="connecticut">Connecticut</option>
              <option value="delaware">Delaware</option>
              <option value="florida">Florida</option>
              <option value="georgia">Georgia</option>
              <option value="hawaii">Hawaii</option>
              <option value="idaho">Idaho</option>
              <option value="illinois">Illinois</option>
              <option value="indiana">Indiana</option>
              <option value="iowa">Iowa</option>
              <option value="kansas">Kansas</option>
              <option value="kentucky">Kentucky</option>
              <option value="louisiana">Louisiana</option>
              <option value="maine">Maine</option>
              <option value="maryland">Maryland</option>
              <option value="massachusetts">Massachusetts</option>
              <option value="michigan">Michigan</option>
              <option value="minnesota">Minnesota</option>
              <option value="mississippi">Mississippi</option>
              <option value="missouri">Missouri</option>
              <option value="montana">Montana</option>
              <option value="nebraska">Nebraska</option>
              <option value="nevada">Nevada</option>
              <option value="new hampshire">New Hampshire</option>
              <option value="new jersey">New Jersey</option>
              <option value="new mexico">New Mexico</option>
              <option value="new york">New York</option>
              <option value="north carolina">North Carolina</option>
              <option value="north dakota">North Dakota</option>
              <option value="">Ohio</option>
              <option value="oklahoma">Oklahoma</option>
              <option value="oregon">Oregon</option>
              <option value="pennsylvania">Pennsylvania</option>
              <option value="rhode island">Rhode Island</option>
              <option value="south carolina">South Carolina</option>
              <option value="south dakota">Sout Dakota</option>
              <option value="tennessee">Tennessee</option>
              <option value="texas">Texas</option>
              <option value="utah">Utah</option>
              <option value="vermont">Vermont</option>
              <option value="virginia">Virginia</option>
              <option value="washington">Washington</option>
              <option value="west virginia">West Virginia</option>
              <option value="wisconsin">Wisconsin</option>
              <option value="wyoming">Wyoming</option>
            </select>

              <br><br><br>

            <input type="button" size="15" value="submit">


</body>

</html>
